@charset "utf-8";
/* CSS Document */
/* Sticky footer styles
-------------------------------------------------- */



/* Layout */
/*html, body, .container-fluid { height: 100%; margin: 0; padding: 0; }
body > .contentDiv { height: auto; min-height: 100%; }
#footer { clear: both; position: relative; z-index: 10; height: 3em; margin-top: -3em; }*/

/* Theme */
/*#footer { background-color: black; color: white; font-size: 200%; text-align: center; line-height: 3em; */}


